#root {
  height: 100vh;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

section {
  height: 100vh;
  background-image: url('/public/bg.png');
}

main {
  @apply flex p-10 md:p-20
}