/* #root {
} */

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
  @apply font-figtree;
  scroll-behavior: smooth;
}

section {
  background-image: url('/public/background.webp');
  display: grid;
  grid-template-columns: 1fr;
  background-size: cover;
  min-height: 100vh;
}

section.img {
  opacity: 0.6;
}

main {
  @apply flex p-10 md:p-20;
}

.gridCard {
  @apply grid grid-cols-1 min-[600px]:grid-cols-2 min-[950px]:grid-cols-3 min-[1200px]:grid-cols-4 min-[1500px]:grid-cols-5 min-[1800px]:grid-cols-6 gap-4;
}